.App {
  color: #aaa;
  margin: 0;
  height: 100vh;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  
  @include minq('tablet') {
    margin: 10vh 0;
    height: 80vh;
    box-shadow: 0 10px 10px rgba(0,0,0, .15);
    border: 1px solid #eeeeee;
  }
}