@import 'grid';

@import 'App';
@import 'Chat';
@import 'ChatHeader';
@import 'ChatList';
@import 'Editable';
@import 'Input';
@import 'Login';
@import 'Message';
@import "MessageList";
@import "Spinner";

body {
  margin: 0;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;

  @include minq('tablet') {
    background-color: #E3F2FD;
  }
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}